.responsiveCardGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  .responsiveCardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 996px) {
  .responsiveCardGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}